body {
    font-family: "Helvetica Neue", Arial, sans-serif;
}
.container {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    padding-top: 20px;
}
label {
    display: block;
    margin-bottom: 10px;
}
input {
    width: 100%;
    padding: 5px 10px;
    margin-bottom: 20px;
}
.exposant {
    color: red;
}
